.flex
{
    display: flex;
    flex: 1 1 100%;
}

.flex > *
{
    flex: 1 1 0%;
}

.flex-row
{
    display: flex;
    flex-direction: row;
}

.flex-col
{
    display: flex;
    flex-direction: column;
}



.justify-center, .center
{
    display: flex;
    justify-content: center;
}

.items-center, .center
{
    display: flex;
    align-items: center;
}

.justify-between
{
    display: flex;
    justify-content: space-between;
}



.bold
{
    font-weight: 700;
}



.overlay
{
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
}

.hover-overlay, .hover-overlay-reverse
{
    position: absolute;
    display: block;
    /* inset: 0; */
    z-index: 1;
    opacity: 0;

    width: 100%;
    height: 100%;

    transition: opacity var(--animation-time) ease;
}

.project:hover .hover-overlay
{
    opacity: 1;
}

.hover-overlay-reverse
{
    opacity: 1;
    transition: opacity var(--animation-time) ease;
}

.hover-overlay-reverse:hover
{
    opacity: 0;
}


.hover-rise
{
    transition: 
        transform var(--animation-time) ease;
}

.hover-rise:hover
{
    transform: translateY(-10px);
}


.text-hover
{
    transition: color calc(var(--animation-time)*0.8) ease;
}
.text-hover:hover
{
    color: var(--text-hover-color);
}


.resizing-text
{
    --target-font-size: 2vw;
    font-size: clamp(0.5em, var(--target-font-size), 1.4em);
}