:root
{
    /* Light mode */
    --light-text-color: #000000;

    --light-bg-color: #FFFFFF;
    --light-bg-secondary-color: #CCCCCC;

    --light-button-primary-text: var(--light-text-color);
    --light-button-primary-bg-color: #DDDDFF;

    --light-anchor-text-color: #2222DD;
    --light-anchor-clicked-text-color: #7722AA;
    

    /* Dark mode */
    --dark-text-color: #FFFFFF;

    --dark-bg-color: #111111;
    --dark-bg-secondary-color: #222222;

    --dark-button-primary-text: var(--dark-text-color);
    --dark-button-primary-bg-color: #443355;

    --dark-anchor-text-color: #2222DD;
    --dark-anchor-clicked-text-color: #7722AA;
}

body 
{
    --text-color: var(--light-text-color);

    --bg-color: var(--light-bg-color);
    --secondary-bg-color: var(--light-bg-secondary-color);

    --button-primary-text-color: var(--light-button-primary-text);
    --button-primary-bg-color: var(--light-button-primary-bg-color);

    --anchor-text-color: var(--light-anchor-text-color);
    --anchor-clicked-text-color: var(--light-anchor-clicked-text-color);


    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    color: var(--text-color);
    background-color: var(--bg-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body.dark-mode
{
    --text-color: var(--dark-text-color);

    --bg-color: var(--dark-bg-color);
    --secondary-bg-color: var(--dark-bg-secondary-color);

    --button-primary-text-color: var(--dark-button-primary-text);
    --button-primary-bg-color: var(--dark-button-primary-bg-color);
    
    --anchor-text-color: var(--dark-anchor-text-color);
    --anchor-clicked-text-color: var(--dark-anchor-clicked-text-color);
}

nav
{
    background-color: var(--dark-bg-secondary-color);

    position: sticky;
    top: 0; left: 0;

    width: 100%;
}



button
{
    padding: 1vh 2vw;
}

a:link
{
    color: var(--anchor-text-color);
}

a:visited
{
    color: var(--anchor-clicked-text-color);
}



div.links
{
    display: flex;
    flex-direction: column;
}

button.primary
{
    color: var(--button-primary-text-color);
    background-color: var(--button-primary-bg-color);
}



#nav-content
{
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    padding: 0px 5vw;
}